<a href="https://colab.research.google.com/github/sury1999/Data-Science-Projects/blob/main/Titanic_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Titanic- Machine Learning from Disaster**
###**Kaggle Entry into competitions**
###Trial for machine learning

In [8]:
import numpy as np 
import pandas as pd

In [9]:
train_data = pd.read_csv('/train.csv')
train_data.head()
train_data[train_data['Embarked'].isnull() == True] = train_data[train_data['Embarked'].isnull() == True].fillna('S')
train_data['Embarked'].isnull().sum()

0

In [10]:
test_data = pd.read_csv("/test.csv")
test_data.head()
test_data[(test_data['Fare'].isnull() == True)] = test_data[(test_data['Fare'].isnull() == True)].fillna(test_data['Fare'].mean())
test_data['Embarked'].isnull().sum()

0

In [11]:
women_total = train_data.loc[train_data.Sex == 'female'].shape[0]
women_survived = train_data.loc[(train_data.Sex == 'female') & (train_data.Survived == 1)]
print('percentage of women who surived is')
print(women_survived.shape[0] / women_total)

percentage of women who surived is
0.7420382165605095

In [12]:
men_total = train_data.loc[train_data.Sex == 'male'].shape[0]
men_survived = train_data.loc[(train_data.Sex == 'male') & (train_data.Survived == 1)]
print('percentage of men who surived is')
print(men_survived.shape[0] / men_total)

percentage of men who surived is
0.18890814558058924

In [13]:
from sklearn.ensemble import RandomForestClassifier
y = train_data['Survived']
feature_names = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']
X = pd.get_dummies(train_data[feature_names])
X_Test = pd.get_dummies(test_data[feature_names])
fares = train_data['Fare'] 
fares_test = test_data['Fare']
X['Fare'] = fares
X_Test['Fare'] = fares_test

X_Test.head()

   Pclass  SibSp  Parch  ...  Embarked_Q  Embarked_S     Fare
0       3      0      0  ...           1           0   7.8292
1       3      1      0  ...           0           1   7.0000
2       2      0      0  ...           1           0   9.6875
3       3      0      0  ...           0           1   8.6625
4       3      1      1  ...           0           1  12.2875

[5 rows x 9 columns]

In [14]:
model = RandomForestClassifier(random_state=1, n_estimators=100,  max_depth=5)
model.fit(X,y)
predictions = model.predict(X_Test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!